header div.desktop, nav.nav-bar-desktop {
    display: none;
}

/* -- HEADER -- */


header div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rosa);
    padding: 0 10px;
    height: 44px;
    width: 100%;
}

/* search - user */

header div .checkbox-user, header div .checkbox-search{
    display: none;
}

header div .user, div .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

/* user */

header div .user .user-icon i{
    font-size: 34px;
}

header div .user-checked {
    display: none;
}

.user-checked p a:active {
    text-decoration: underline;
}

.checkbox-user:checked ~ .user-checked{
    display: flex;
    width: 100vw;
}

.checkbox-user:checked ~ .message {
    display: none;
}

.checkbox-user:checked ~ .search {
    display: none;
}

/* envíos */

header div .message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
}

header div .message span {
    font-weight: bold;
}

header div .message p {
    text-align: center;
    font-size: 12px;
}

/* search */

header div .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}

header div .search i {
    font-size: 24px;
}

header div .search-checked {
    display: none;
    width: 100vw;
    position: absolute;
    justify-content: center;
}

header div .search-checked form {
    display: flex;
}

header div .search-checked input {
    width: 72vw;
    height: 30px;
    border: solid 2px var(--celeste);
    border-radius: 15px;
    outline: none;
    padding-left: 30px;
}

header div .search-checked button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 2px var(--celeste);
    border-radius: 50%;
}

header div .search-checked i {
    font-size: 24px;
}

.checkbox-search:checked ~ .search-checked {
    display: flex;
}

.checkbox-search:checked ~ .search {
    z-index: 5;
}




/* -- NAV BAR -- */

 nav.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--blanco);
    height: 99px;
    width: 100%;
    box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
    z-index: 10;
    position: sticky;
    top: 0;
}

/* menu - cart */

nav.nav-bar .menu, nav.nav-bar .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

 nav.nav-bar .menu i, nav.nav-bar .cart i {
    font-size: 35px;
}

 nav.nav-bar .menu h3, nav.nav-bar .cart h3 {
    font-size: 14px;
}

/* menu */

nav.nav-bar .menu label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav.nav-bar .menu ul, nav.nav-bar .menu input {
    display: none;
}

nav.nav-bar .menu ul li {
    display: flex;
    border-bottom: solid 1px var(--rosa);
    width: 80%;
    height: 45px;
    justify-content: center;
    align-items: center;
}

nav.nav-bar .menu ul li a {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

nav.nav-bar .menu ul li span {
    color: var(--violeta);
}

nav.nav-bar .menu input:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100vw;
    top: 99px;
    right: 0px;
    align-items: center;
    justify-content: space-evenly;
}

nav.nav-bar .menu ul li:active {
    background-color: var(--rosa);
}

nav.nav-bar .menu ul li a:active {
    font-weight: bold;
}

/* logo */

 nav.nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

nav.nav-bar .logo a{
    height: 99px;
}

 nav.nav-bar .logo img {
    height: 100%;
}


/* TABLET */


@media (min-width: 640px) {

    /* -- HEADER -- */ 

    header div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 56px;
    }

    /* user */

    header div .user .user-icon i{
        font-size: 38px;
    }
    
    .checkbox-user:checked ~ .user-checked{
        display: flex;
        width: 80vw;
    }

    /* search */
    
    header div .search .search-icon i{
        font-size: 30px;
    }

    /* envíos */

    header div .message p {
        text-align: center;
        font-size: 16px;
    }


    /* -- NAV BAR -- */

    nav.nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        background-color: var(--blanco);
        height: 111px;
        box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
        z-index: 10;
        position: sticky;
        top: 0;
    }

    /* logo */

    nav.nav-bar .logo a{
        height: 111px;
    }

    /* menu - cart */

    nav.nav-bar .menu i, nav.nav-bar .cart i {
        font-size: 44px;
    }
    
    nav.nav-bar .menu h3, nav.nav-bar .cart h3 {
        font-size: 16px;
    }

}


/* desktop */

@media (min-width: 1024px) {

    header div, nav.nav-bar{
        display: none;
    }

    /* -- HEADER -- */

    header div.desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 38px;
    }

    /* envíos */

    header div.desktop .message {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-start;
    }

    header div.desktop .message span {
        font-weight: bold;
    }

    header div.desktop .message p i {
        font-size: 20px;
    }

    header div.desktop .message p {
        text-align: left;
        font-size: 16px;
    }


    /* user */

    header div.desktop .user {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }

    header div.desktop .user .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }

    header div.desktop .user .user-icon i{
        font-size: 30px;
    }

    header div.desktop .user p {
        font-size: 16px;
        margin-left: 4px;
    }

    header div.desktop .user p a:hover {
        text-decoration: underline;
    }


    /* -- NAV BAR -- */

    nav.nav-bar-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        height: 80px;
        background-color: white;
        box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
        z-index: 10;
        position: sticky;
        top: 0;
    }

    /* logo */

    nav.nav-bar-desktop .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80px;
    }

    nav.nav-bar-desktop a{
        height: 100%;
    }

    nav.nav-bar-desktop img {
        height: 100%;
    }

    /* inicio productos contacto */

    nav.nav-bar-desktop .desktop-nav{
        width: 30%;
        display: flex;
    }

    nav.nav-bar-desktop .desktop-nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav.nav-bar-desktop .desktop-nav ul li a {
        font-size: 20px;
    }

    nav.nav-bar-desktop .desktop-nav ul li a h3:hover {
        color: var(--celeste);
        text-shadow: 1px 1px 2px black;
    }

    /* productos */

    nav.nav-bar-desktop .desktop-nav ul li.productos {
        position: relative;
        display: flex;
        justify-content: center;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav {
        display: none;
        position: absolute;
        top: 23px;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li{
        display: flex;
        border-bottom: solid 1px var(--rosa);
        width: 80%;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li a {
        width: 100%;
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li span {
        color: var(--violeta);
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav:hover {
        display: flex;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos a:hover ~ nav {
        display: flex;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li:hover {
        background-color: var(--rosa);
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li a:hover {
        font-weight: bold;
    }

    /* busqueda */

    nav.nav-bar-desktop .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 265px;
        border: solid 2px var(--celeste);
        border-radius: 15px;
    }

    nav.nav-bar-desktop .search input {
        width: 210px;
        height: 24px;
        border: none;
        outline: none;
    }

    nav.nav-bar-desktop button{
        width: 26px;
        height: 26px;
        border: none;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    nav.nav-bar-desktop button i {
        font-size: 18px;
    }


    /* carrito */

    nav.nav-bar-desktop .cart{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%
    }

    nav.nav-bar-desktop .cart i {
        font-size: 30px;
    }

}

