header.mobile {
    box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
}

header.desktop {
    display: none;
}

/* -- HEADER TOP -- */


header.mobile div.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rosa);
    padding: 0 10px;
    height: 44px;
}

/* search - user */

header.mobile div.top .user .user-icon ,div.top .search .search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

/* search */

header.mobile div.top .user, div.top .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%
}

div.top .search .search-icon i{
    font-size: 26px;
}

/* user */

header.mobile div.top .user .user-icon i{
    font-size: 34px;
}

header.mobile div.top .user p {
    display: none;
}

/* envíos */

header.mobile div.top .message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
}

header.mobile div.top .message span {
    font-weight: bold;
}

header.mobile div.top .message p {
    text-align: center;
    font-size: 14px;
}


/* -- HEADER BOTTOM -- */

header.mobile div.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

/* menu - cart */

header.mobile div.bottom .menu, div.bottom .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

header.mobile div.bottom .menu i, div.bottom .cart i {
    font-size: 35px;
}

header.mobile div.bottom .menu h3, div.bottom .cart h3 {
    font-size: 14px;
}

/* logo */

header.mobile div.bottom .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

header.mobile div.bottom .logo img {
    width: 100%;
} 


/* TABLET */


@media (min-width: 640px) {

    /* -- HEADER TOP -- */ 

    header.mobile div.top {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 56px;
    }

    /* user */

    header.mobile div.top .user .user-icon i{
        font-size: 38px;
    }

    /* search */
    
    header.mobile div.top .search .search-icon i{
        font-size: 30px;
    }

    /* envíos */

    header.mobile div.top .message p {
        text-align: center;
        font-size: 16px;
    }


    /* -- HEADER BOTTOM -- */

    /* menu - cart */

    header.mobile div.bottom .menu i, div.bottom .cart i {
        font-size: 44px;
    }
    
    header.mobile div.bottom .menu h3, div.bottom .cart h3 {
        font-size: 16px;
    }

}


/* desktop */

@media (min-width: 1024px) {

    header.mobile {
        display: none;
    }

    header.desktop {
    display: block;
    box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
    }

    /* -- HEADER TOP -- */

    header.desktop div.top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 38px;
    }

    /* envíos */

    header.desktop div.top .message {
        display: flex;
        align-items: center;
    }

    header.desktop div.top .message span {
        font-weight: bold;
    }

    header.desktop div.top .message p i {
        font-size: 20px;
    }

    header.desktop div.top .message p {
        text-align: left;
        font-size: 16px;
    }


    /* user */

    header.desktop div.top .user {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header.desktop div.top .user .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }

    header.desktop div.top .user .user-icon i{
        font-size: 30px;
    }

    header.desktop div.top .user p {
        font-size: 16px;
        margin-left: 4px;
    }


    /* -- HEADER BOTTOM -- */

    header.desktop div.bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        height: 80px;
    }

    /* logo */

    header.desktop div.bottom .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80px;
    }

    header.desktop div.bottom a{
        height: 100%;
    }

    header.desktop div.bottom img {
        height: 100%;
    }

    /* inicio productos contacto */

    header.desktop div.bottom .desktop-nav{
        width: 30%;
        display: flex;
    }

    header.desktop div.bottom .desktop-nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header.desktop div.bottom .desktop-nav nav {
        display: none;
    }

    header.desktop div.bottom .desktop-nav a {
        font-size: 20px;
    }

    /* busqueda */

    header.desktop div.bottom .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 265px;
        border: solid 2px var(--celeste);
        border-radius: 15px;
    }

    header.desktop div.bottom .search input {
        width: 225px;
        height: 24px;
        border: none;
        border-radius: 15px;
        outline: none;
    }

    header.desktop div.bottom button{
        width: 26px;
        height: 26px;
        border: none;
        background-color: white;
        border-radius: 15px;
    }

    header.desktop div.bottom button i {
        font-size: 18px;
    }


    /* carrito */

    header.desktop div.bottom .cart{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%
    }

    header.desktop div.bottom .cart i {
        font-size: 30px;
    }

}

