

.bodyCarrito{
    background-image: url("/images/imagenDeFondo.jpeg");
    padding: 10px;
    width: 100%;
    
}

.bodyCarrito .micompra {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}



.bodyCarrito h1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font: italic bold 40px Georgia, Serif;
    text-shadow: -4px 3px 0 #dcc2ffff, -14px 7px 0 #11e7ee;
    padding-bottom: 40px;
    padding-top: 50px;
    }

.micompra i{
    color:var(--violeta);
    text-align: center;
    margin: 0 auto;
    text-shadow: -4px 3px 0 #dcc2ffff, -14px 7px 0 #11e7ee;
    padding-bottom: 40px;
    margin-right: 5%;
}

.bodyCarrito i{
font-size: 100%;    
} 


.tabla{
    background: mintcream;
    margin-bottom: 10px;
}

.bodyCarrito div h3{
    text-align: center;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
}


.titulos{
    
    width: 100%;
    display: flex;
    height: 10%;
}
.tituloscolor{
    
    color: white;
    display: flex;
    width: 100%;
    background-color: var(--violeta);
}


.bodyCarrito .producto{
   
    border: 1px solid var(--violeta);
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.descripcionCarrito{
    display: none;
}




.bodyCarrito .img{
    padding: 5%;
    width: 80%;
}
    
.bodyCarrito .cantidad{
   
    border: 1px solid var(--violeta);
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-around;
}

.bodyCarrito .cantidad p{
    font-size:20px;
    
}

.bodyCarrito .cantidad button{
    font-size: x-large;
}

.bodyCarrito .precio{
    font-size: inherit;
    border: 1px solid var(--violeta);
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.bodyCarrito .precio p{
    font-size: 20px;
    
    
}

.bodyCarrito .precio div{
    height: 70px;
}

.bodyCarrito .tachitotitulo i{
    display: none;
}

.bodyCarrito .tachito{
    
    border: 1px solid var(--violeta);
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    justify-content: center;
}
.bodyCarrito .tachito div{
    height: 70px;
}


.dosBotones{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.subButon{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1em;
    height: 30px;
    background-color: var(--lila);
    border-width: 1px;
    margin:5px ;
    width: 100%;
}

.bodyCarrito .total{
    
    border: 2px solid var(--lila);
    text-align: center;
    background-color: var(--lila);
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
}

.bodyCarrito .total h3{
    margin: auto;
    margin-left: 20px;
    color: black;
}

.bodyCarrito .resultado{
    background-color: white;
    display: flex;
    text-align:center;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.bodyCarrito .resultado p{
    font-weight:800;
    letter-spacing: 1px;

}

.bodyCarrito .continuar{
    
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}
.bodyCarrito .buton {
    height: 50px;
    border: 0px;
    font-size: 1em;
    color: white;
    font-weight:800;
    letter-spacing: 1px;
    background-color: var(--violeta);
    width:45% ;
    padding: 5px;
}
   




@media(min-width:426px){
    .descripcionCarrito{
        
        width:25% ;
        display: block;
       
    }
    .descripcionCarrito h3{
        width:25% ;
        display: block;
    }
    .descripcionCarrito p{ 
        display: flex;
        align-items: center;
        border: 1px solid var(--violeta);
        height: 100%;
    }
    .bodyCarrito .producto{
        width: 30%;
    }

    .bodyCarrito .cantidad{
        width: 20%;
    }
    .bodyCarrito .precio{
        width:15%;
    }
    .bodyCarrito .tachito{
        width: 10%;
    }
    .bodyCarrito .tachitotitulo{
        width: 10%;
    }
}

@media(min-width:768px){
    .productContainer{
        margin: 0px 5% 2%;
    }

.descripcionCarrito{
        
    width:35% ;
    display: block;
   
}
.descripcionCarrito h3{
    width:35% ;
    display: block;
}
.descripcionCarrito p{ 
    display: flex;
    align-items: center;
    border: 1px solid var(--violeta);
    height: 100%;
}
.bodyCarrito .producto{
    width: 25%;
}
.bodyCarrito .img {
    padding: 5%;
    width: 35%;
}
.bodyCarrito .h1{
    margin-bottom: 0;
    margin-top: 0;
}
.bodyCarrito .micompra{
    margin-bottom: 0;
}
.bodyCarrito .cantidad{
    width: 15%;
}
.bodyCarrito .precio{
    width:15%;
}
.bodyCarrito .tachito{
    width: 10%;
}
.tachitotitulo{
    width: 10%;
}
.dosBotones{
    flex-direction: row;
    width: 50%;
    margin-left: 50%;
}
.subButon{
    margin: 0px;
}
.bodyCarrito .total{
    width: 50%;
    margin-left: 50%;
}
.bodyCarrito .continuar{
    align-items: flex-end;
}

.continuar .buton:hover {
    background-color: #9ce8eb;
}

.tachito:hover {
    background-color: #9ce8eb;
}

}


/*
 celular
movil: min:320px max:425px
tablet: min:426px max:768px
laptop: min769px max1440px


text-align: center;
    margin: 0 auto;
    font: italic bold 40px Georgia, Serif;
    text-shadow: -4px 3px 0 #dcc2ffff, -14px 7px 0 #11e7ee;
    padding-bottom: 40px;
    padding-top: 50px




 descktop
@media(min-width:1024px)
*/