.bodyCarrito{
    padding: 10px;
    width: 100%;
}

.bodyCarrito h1{
    width: 100%;
    text-align: center;
    margin: 10px auto 30px;
    font: italic bold 32px Georgia, Serif;
    text-shadow: -4px 3px 0 #dcc2ffff, -14px 7px 0 #11e7ee;
}

.bodyCarrito section article {
    display: flex;
    background-color: white;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}

.bodyCarrito section article img {
    width: 80px;
    height: 80px;
}

.bodyCarrito section article .tachito {
    width: 22px;
    height: 22px;
}

.bodyCarrito section article .descripcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 5px;
}

.bodyCarrito section article .descripcion .cant-prec-elim{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bodyCarrito section article .descripcion .cant-prec{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bodyCarrito section article .descripcion .cantidad {
    display: flex;
    width: 100px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    flex-direction: row;
}

.bodyCarrito section article .descripcion .cantidad button {
    display: flex;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.bodyCarrito section article .descripcion .cantidad input {
    display: flex;
    width: 40px;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

.bodyCarrito section article .descripcion p.descr{
    display: none;
}

.bodyCarrito h5 {
    display: flex;
    font-size: 22px;
    align-items: center;
    color: var(--lila);
    justify-content: center;
}

.bodyCarrito a {
    background-color: var(--lila);
    padding: 8px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

.bodyCarrito .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyCarrito .dosBotones{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.bodyCarrito .subButtons {
    display: flex;
    flex-direction: column;
}

.bodyCarrito .subButon{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1em;
    height: 30px;
    background-color: var(--lila);
    border-width: 1px;
    margin: 5px;
    width: 205px;
}

.bodyCarrito .total{
    
    border: 2px solid var(--lila);
    text-align: center;
    background-color: var(--lila);
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
}

.bodyCarrito .total h3{
    margin: auto;
    color: black;
}

.bodyCarrito .resultado{
    background-color: white;
    display: flex;
    text-align:center;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.bodyCarrito .resultado p{
    font-weight:800;
    letter-spacing: 1px;
}

.bodyCarrito .buton {
    border: none;
    font-size: 1rem;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--violeta);
    padding: 15px 20px;
    margin: 10px auto 0px;
}


@media(min-width: 640px) {
    .descripcionCarrito{
        
        width:25% ;
        display: block;
       
    }
    .descripcionCarrito h3{
        width:25% ;
        display: block;
    }
    .descripcionCarrito p{ 
        display: flex;
        align-items: center;
        border: 1px solid var(--violeta);
        height: 100%;
    }
    .bodyCarrito .producto{
        width: 30%;
    }

    .bodyCarrito .cantidad{
        width: 20%;
    }
    .bodyCarrito .precio{
        width:15%;
    }
    .bodyCarrito .tachito{
        width: 10%;
    }
    .bodyCarrito .tachitotitulo{
        width: 10%;
    }
    
    .bodyCarrito section article .descripcion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0px 5px;
        align-items: center;
    }

    .bodyCarrito section article .descripcion .cant-prec-elim {
        display: flex;
        width: 210px;
        justify-content: space-between;
        align-items: center;
    }

    .bodyCarrito section article .descripcion p.descr {
        display: flex;
    }.bodyCarrito .subButtons {
        display: flex;
        flex-direction: row;
    }
}

@media(min-width:1024px){
    .productContainer{
        margin: 0px 5% 2%;
    }

    .descripcionCarrito{
            
        width:35% ;
        display: block;
    
    }
    .descripcionCarrito h3{
        width:35% ;
        display: block;
    }
    .descripcionCarrito p{ 
        display: flex;
        align-items: center;
        border: 1px solid var(--violeta);
        height: 100%;
    }
    .bodyCarrito .producto{
        width: 25%;
    }
    .bodyCarrito .img {
        padding: 5%;
        width: 35%;
    }
    .bodyCarrito .h1{
        margin-bottom: 0;
        margin-top: 0;
    }
    .bodyCarrito .micompra{
        margin-bottom: 0;
    }
    .bodyCarrito .cantidad{
        width: 15%;
    }
    .bodyCarrito .precio{
        width:15%;
    }
    .bodyCarrito .tachito{
        width: 10%;
    }
    .tachitotitulo{
        width: 10%;
    }
    .dosBotones{
        flex-direction: row;
        width: 50%;
        margin-left: 50%;
    }
    .subButon{
        margin: 0px;
    }
    .bodyCarrito .total{
        width: 50%;
        margin-left: 50%;
    }
    .bodyCarrito .continuar{
        align-items: flex-end;
    }

    .continuar .buton:hover {
        background-color: #9ce8eb;
    }

    .tachito:hover {
        background-color: #9ce8eb;
    }

    .bodyCarrito .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 10px 0px;
        justify-content: space-between;
    }

    .bodyCarrito .buton {
        border: none;
        font-size: 1rem;
        color: white;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: var(--violeta);
        padding: 15px 20px;
        margin: 0px;
    }

    .bodyCarrito section article .descripcion p.descr {
        display: flex;
        width: 100%;
    }

    .bodyCarrito {
    padding: 10px;
    width: 900px;
    margin: 0px auto;
    }
}
