header div.desktop, nav.nav-bar-desktop {
    display: none;
}

/* -- HEADER -- */

header {
    margin-bottom: 10px;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div .administrar {
    background-color: var(--rosa);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

header div .administrar a:active {
    text-decoration: underline;
}

header div .mobile-tablet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--rosa);
    height: 44px;
    width: 100%;
}

/* search - user */

header div .mobile-tablet .checkbox-user, header div .mobile-tablet .checkbox-search{
    display: none;
}

header div .mobile-tablet .user, header div .mobile-tablet .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

header div .mobile-tablet .user-icon img, header div .mobile-tablet .search-icon img {
    width: 32px;
}

/* user */

header div .mobile-tablet .user {
    padding-left: 10px;
    padding-right: 2px;
}

header div .mobile-tablet .user-checked {
    display: none;
}

.user-checked p a:active {
    text-decoration: underline;
}

.checkbox-user:checked ~ .user-checked{
    display: flex;
    width: 100%;
    height: 44px;
    z-index: 3;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
}

.checkbox-user:checked ~ .user {
    z-index: 5;
}

header .user-image {
    width: 32px;
    border: 2px var(--negro) solid;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .user-image img {
    width: 30px;
}

/* envíos */

header div .mobile-tablet .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px 3px;
}

header div .mobile-tablet .message .truck-icon{
    width: 24px;
    padding: 0px;
}

header div .mobile-tablet .message img {
    width: 24px;
}

header div .mobile-tablet .message p {
    font-size: 12px;
    padding: 0px;
    padding-left: 5px;
}

header div .mobile-tablet .message span {
    font-weight: bold;
}

/* search */

header div .mobile-tablet .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 2px;
}

header div .mobile-tablet #arrow {
    display: none;
}

header div .mobile-tablet #arrow img {
    width: 18px;
}

header div .mobile-tablet .search-checked {
    display: none;
    width: 100%;
    height: 44px;
    z-index: 3;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
}

header div .mobile-tablet .search-checked form {
    display: flex;
    align-items: center;
}

header div .mobile-tablet .search-checked input {
    width: 72vw;
    height: 30px;
    border: none;
    border-radius: 15px;
    outline: none;
    padding-left: 30px;
}

header div .mobile-tablet .search-checked input:focus {
    border: solid 2px var(--celeste);
}

header div .mobile-tablet .search-checked button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 2px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

header div .mobile-tablet .search-checked img {
    width: 20px;
}

.checkbox-search:checked ~ .search-checked {
    display: flex;
}

.checkbox-search:checked ~ .search {
    z-index: 5;
}

.checkbox-search:checked ~ #search {
    display: none;
}

.checkbox-search:checked ~ #arrow {
    display: flex;
}

header .logout button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

header .logout button:active {
    text-decoration: underline;
}

header .logout button:hover {
    text-decoration: underline;
}


/* -- NAV BAR -- */

nav.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--blanco);
    height: 99px;
    width: 100%;
    box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
    z-index: 10;
}

nav.fixed {
    position: fixed;
    top: 0;
    width: 100%
}

/* menu - cart */

nav.nav-bar .menu, nav.nav-bar .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

nav.nav-bar .menu img, nav.nav-bar .cart a img {
    width: 40px;
}

 nav.nav-bar .menu h3, nav.nav-bar .cart h3 {
    font-size: 14px;
}

/* menu */

nav.nav-bar .menu {
    position: relative;
}

nav.nav-bar .menu label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav.nav-bar .menu ul {
    z-index: 5;
}

nav.nav-bar .menu ul, nav.nav-bar .menu input {
    display: none;
}

nav.nav-bar .menu ul li {
    display: flex;
    border-bottom: solid 1px var(--rosa);
    width: 80%;
    height: 45px;
    justify-content: center;
    align-items: center;
}

nav.nav-bar .menu ul li a {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

nav.nav-bar .menu ul li span {
    color: var(--violeta);
}

nav.nav-bar .menu input:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100vw;
    top: 78px;
    left: -10px;
    align-items: center;
    justify-content: space-evenly;
}

nav.nav-bar .menu ul li:active {
    background-color: var(--rosa);
}

nav.nav-bar .menu ul li a:active {
    font-weight: bold;
}

/* logo */

 nav.nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

nav.nav-bar .logo a{
    height: 99px;
}

 nav.nav-bar .logo img {
    height: 100%;
}

/* carrito */

nav.nav-bar .cart a {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TABLET */


@media (min-width: 640px) {

    /* -- HEADER -- */ 

    header div .mobile-tablet {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 56px;
    }

    /* user */
    
    .checkbox-user:checked ~ .user-checked{
        display: flex;
    }

    /* envíos */

    header div .mobile-tablet .message p {
        text-align: center;
        font-size: 16px;
    }


    /* -- NAV BAR -- */

    nav.nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        background-color: var(--blanco);
        height: 111px;
        box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
        z-index: 10;
    }

    nav.fixed {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* logo */

    nav.nav-bar .logo a{
        height: 111px;
    }

    /* menu - cart */

    nav.nav-bar .menu i, nav.nav-bar .cart i {
        font-size: 44px;
    }
    
    nav.nav-bar .menu h3, nav.nav-bar .cart h3 {
        font-size: 16px;
    }

}


/* desktop */

@media (min-width: 1024px) {

    header div, nav.nav-bar{
        display: none;
    }

    /* -- HEADER -- */

    header div.desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 38px;
        flex-direction: row;
    }

    /* envíos */

    header div.desktop .message {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-start;
        flex-direction: row;
    }

    header div.desktop .message .truck-icon{
        display: flex;
        width: 24px;
        padding: 0px;
    }

    header div.desktop .message img {
        width: 24px;
    }

    header div.desktop .message span {
        font-weight: bold;
    }

    header div.desktop .message p {
        text-align: left;
        font-size: 16px;
        padding-left: 5px;
    }

    /* user */

    header div.desktop .user {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        flex-direction: row;
    }

    header div.desktop .user .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }

    header div.desktop .user .user-icon i{
        font-size: 30px;
    }

    header div.desktop .user p {
        font-size: 16px;
        margin-left: 4px;
    }

    header div.desktop .user p a:hover {
        text-decoration: underline;
    }

    header div.desktop .user label {
        width: 145px;
        display: flex;
        cursor: pointer;
        padding-right: 3px;
        padding-left: 5px;
        justify-content: space-between;
    }
    
    header div.desktop .user ul {
        display: none;
    }

    header div.desktop .user input {
        display: none;
    }

    header div.desktop .user input:checked ~ ul {
        right: 10px;
        display: flex;
        background-color: var(--rosa);
        position: absolute;
        top: 40px;
        display: flex;
        flex-direction: column;
        z-index: 15;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        width: 165px;
        height: 75px;
    }

    header div.desktop .user ul:before {
        content: "";
        position: absolute;
        bottom: 74px;
        right: 8px;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 15px solid var(--rosa);
    }
    
    header div.desktop .user ul li {
        cursor: pointer;
    }

    header div.desktop .user ul li.logout button, header div.desktop .user ul li.logout i {
        color: red;
    }

    header div.desktop .user ul li:hover {
        text-decoration: underline;
    }


    /* -- NAV BAR -- */

    nav.nav-bar-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        height: 80px;
        background-color: white;
        box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
        z-index: 10;
    }

    nav.fixed {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* logo */

    nav.nav-bar-desktop .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80px;
    }

    nav.nav-bar-desktop a{
        height: 100%;
    }

    nav.nav-bar-desktop img {
        height: 100%;
    }

    /* inicio productos contacto administrar */

    nav.nav-bar-desktop .desktop-nav{
        width: 40%;
        display: flex;
    }

    nav.nav-bar-desktop .desktop-nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav.nav-bar-desktop .desktop-nav ul li a {
        font-size: 20px;
    }

    nav.nav-bar-desktop .desktop-nav ul li a h3:hover {
        color: var(--celeste);
        text-shadow: 1px 1px 2px black;
    }

    /* productos - administrar */

    nav.nav-bar-desktop .desktop-nav ul li.productos, .administrar {
        position: relative;
        display: flex;
        justify-content: center;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav {
        display: none;
        position: absolute;
        top: 23px;
        z-index: 5;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li{
        display: flex;
        border-bottom: solid 1px var(--rosa);
        width: 80%;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li a {
        width: 100%;
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li span {
        color: var(--violeta);
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav:hover {
        display: flex;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos a:hover ~ nav {
        display: flex;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li:hover {
        background-color: var(--rosa);
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li a:hover {
        font-weight: bold;
    }

    /* busqueda */

    nav.nav-bar-desktop .search{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 265px;
        border: solid 2px var(--celeste);
        border-radius: 15px;
    }

    nav.nav-bar-desktop .search form {
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-evenly;
    }

    nav.nav-bar-desktop .search input {
        width: 210px;
        height: 24px;
        border: none;
        outline: none;
    }

    nav.nav-bar-desktop button{
        width: 26px;
        height: 26px;
        border: none;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;
    }
    nav.nav-bar-desktop .search .search-icon {
        display: flex;
    }

    nav.nav-bar-desktop button img {
        width: 20px;
    }


    /* carrito */

    nav.nav-bar-desktop .cart{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 5%
    }

    nav.nav-bar-desktop .cart img {
        width: 35px;
    }

}

