header div.desktop, nav.nav-bar-desktop {
    display: none;
}

/* -- HEADER -- */

header {
    margin-bottom: 10px;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div .administrar {
    background-color: var(--rosa);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

header div .administrar a:active {
    text-decoration: underline;
}

header div .mobile-tablet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--rosa);
    height: 44px;
    width: 100%;
}

/* search - user */

header div .mobile-tablet .checkbox-user, header div .mobile-tablet .checkbox-search{
    display: none;
}

header div .mobile-tablet .user, header div .mobile-tablet .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

header div .mobile-tablet .user-icon img, header div .mobile-tablet .search-icon img {
    width: 32px;
}

/* user */

header div .mobile-tablet .user {
    padding-left: 10px;
    padding-right: 2px;
}

header div .mobile-tablet .user-checked {
    display: none;
}

.user-checked p a:active {
    text-decoration: underline;
}

.checkbox-user:checked ~ .user-checked{
    display: flex;
    width: 100%;
    height: 44px;
    z-index: 3;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
}

.checkbox-user:checked ~ .user {
    z-index: 5;
}

header .user-image {
    width: 32px;
    border: 2px var(--negro) solid;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .user-image img {
    width: 30px;
}

/* envíos */

header div .mobile-tablet .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px 3px;
}

header div .mobile-tablet .message .truck-icon{
    width: 24px;
    padding: 0px;
}

header div .mobile-tablet .message img {
    width: 24px;
}

header div .mobile-tablet .message p {
    font-size: 12px;
    padding: 0px;
    padding-left: 5px;
}

header div .mobile-tablet .message span {
    font-weight: bold;
}

/* search */

header div .mobile-tablet .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 2px;
}

header div .mobile-tablet #arrow {
    display: none;
}

header div .mobile-tablet #arrow img {
    width: 18px;
}

header div .mobile-tablet .search-checked {
    display: none;
    width: 100%;
    height: 44px;
    z-index: 3;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
}

header div .mobile-tablet .search-checked form {
    display: flex;
    align-items: center;
}

header div .mobile-tablet .search-checked input {
    width: 72vw;
    height: 30px;
    border: none;
    border-radius: 15px;
    outline: none;
    padding-left: 30px;
}

header div .mobile-tablet .search-checked input:focus {
    border: solid 2px var(--celeste);
}

header div .mobile-tablet .search-checked button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 2px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

header div .mobile-tablet .search-checked img {
    width: 20px;
}

.checkbox-search:checked ~ .search-checked {
    display: flex;
}

.checkbox-search:checked ~ .search {
    z-index: 5;
}

.checkbox-search:checked ~ #search {
    display: none;
}

.checkbox-search:checked ~ #arrow {
    display: flex;
}

header .logout button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

header .logout button:active {
    text-decoration: underline;
}

header .logout button:hover {
    text-decoration: underline;
}


/* -- NAV BAR -- */

nav.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--blanco);
    height: 99px;
    width: 100%;
    box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
    z-index: 10;
}

nav.fixed {
    position: fixed;
    top: 0;
    width: 100%
}

/* menu - cart */

nav.nav-bar .menu, nav.nav-bar .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

nav.nav-bar .menu img, nav.nav-bar .cart img {
    width: 40px;
}

 nav.nav-bar .menu h3, nav.nav-bar .cart h3 {
    font-size: 14px;
}

/* menu */

nav.nav-bar .menu {
    position: relative;
}

nav.nav-bar .menu label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav.nav-bar .menu ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    top: 0px;
    left: -679px;
    z-index: 10;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
}

nav.nav-bar .menu ul.mostrar {
    left: 0px;
}

nav.nav-bar .menu ul li {
    display: flex;
    background-color: #ffc2e8;
    border-bottom: solid 1px var(
    --rosa);
    box-shadow: 0px 0px 5px 0px #ffc2e8;
    width: 80%;
    height: 45px;
    justify-content: center;
    align-items: center;
}

nav.nav-bar .menu ul li a {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

nav.nav-bar .menu ul li.close-menu {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
    height: 34px;
    width: 100%;
    display: flex;
}

nav.nav-bar .menu ul li.close-menu img {
    width: 22px;
}

nav.nav-bar .menu ul li.close-menu:active {
    box-shadow: none;
    border-bottom: none;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    margin: 0px auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

nav.nav-bar .menu ul li span {
    color: var(--violeta);
}

nav.nav-bar .menu ul li:active {
    background-color: var(--rosa);
}

nav.nav-bar .menu ul li a:active {
    font-weight: bold;
}

nav.nav-bar .menu ul li.openBrands {
    display: none;
}

nav.nav-bar .menu ul li.brands {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
}

nav.nav-bar .menu ul li.open {
    position: absolute;
    top: 10px;
}

nav.nav-bar .menu ul li.brands img {
    position: absolute;
    width: 24px;
    right: 10px;
}

nav.nav-bar .menu ul li.brands img.openBrands {
    transform: rotateY(180deg);
    left: 24px;
}

nav.nav-bar .menu ul li .ul-brands {
    display: none;
}

nav.nav-bar .menu ul li div.openBrands {
    display: flex;
    height: 87vh;
    position: absolute;
    overflow: scroll;
    top: 50px;
    width: 100%;
}

nav.nav-bar .menu ul li .ul-brands ul {
    left: 0px;
    position: static;
    top: 60px;
    width: 100%;
    height: auto;
    background-color: transparent;
    backdrop-filter: none;
}

nav.nav-bar .menu ul li .ul-brands ul li {
    width: 100%;
    margin-bottom: 4px;
}

/* logo */

nav.nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

nav.nav-bar .logo a{
    height: 99px;
}

 nav.nav-bar .logo img {
    height: 100%;
}

/* carrito */

nav.nav-bar .cart {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

nav.nav-bar .cart .quantity-cart-icon {
    display: flex;
    position: absolute;
    top: -4px;
    right: 2px;
    background-color: var(--celeste);
    border-radius: 100%;
    width: 22px;
    height: 22px;
    font-weight: bold;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

nav.nav-bar .cart .dropDown-cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    top: 0px;
    left: 639px;
    z-index: 10;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
}

nav.nav-bar .cart .mostrar {
    left: 0px;
}

nav.nav-bar .cart .dropDown-cart img {
    width: 22px;
    height: 22px;
}

nav.nav-bar .cart .dropDown-cart img:active {
    box-shadow: none;
    border-bottom: none;
    height: 30px;
    width: 30px;
    padding: 4px;
    border-radius: 100%;
    margin: 0px auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

nav.nav-bar .cart .dropDown-cart h3 {
    display: flex;
    font-size: 30px;
    align-items: center;
    color: var(--lila);
    justify-content: center;
}

nav.nav-bar .cart .dropDown-cart .cartProducts {
    height: 350px;
    width: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

nav.nav-bar .cart .dropDown-cart .cartProducts section article {
    display: flex;
    background-color: white;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}

nav.nav-bar .cart .dropDown-cart .cartProducts section article img {
    width: 80px;
    height: 80px;
}

nav.nav-bar .cart .dropDown-cart .cartProducts section article .tachito {
    width: 22px;
    height: 22px;
}

nav.nav-bar .cart .dropDown-cart .cartProducts section article .descripcion-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

nav.nav-bar .cart .dropDown-cart .cartProducts section article .descripcion-cart .cantidad {
    display: flex;
    width: 100px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    flex-direction: row;
}

nav.nav-bar .cart .dropDown-cart .cartProducts section article .descripcion-cart .cantidad button {
    display: flex;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

nav.nav-bar .cart .dropDown-cart .cartProducts section article .descripcion-cart .cantidad input {
    display: flex;
    width: 40px;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

nav.nav-bar .cart .dropDown-cart h5 {
    display: flex;
    font-size: 22px;
    align-items: center;
    color: var(--lila);
    justify-content: center;
}

nav.nav-bar .cart .dropDown-cart a {
    background-color: var(--lila);
    padding: 8px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

div.goTop {
    background-color: rgba(20, 20, 20, .3);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -20px;
    right: 20px;
    z-index: 30;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

div.goTop:hover, div.goTop:active {
    background-color: rgba(20, 20, 20, .6)
}

div.goTop.visible {
    visibility: visible;
    opacity: 1;
    bottom: 20px;
}

div.goTop img {
    width: 35px;
    height: 36px;
    transform: rotate(-90deg);
}


/* TABLET */


@media (min-width: 640px) {

    /* -- HEADER -- */ 

    header div .mobile-tablet {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 56px;
    }

    /* user */
    
    .checkbox-user:checked ~ .user-checked{
        display: flex;
    }

    /* envíos */

    header div .mobile-tablet .message p {
        text-align: center;
        font-size: 16px;
    }


    /* -- NAV BAR -- */

    nav.nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        background-color: var(--blanco);
        height: 111px;
        box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
        z-index: 10;
    }

    nav.fixed {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* logo */

    nav.nav-bar .logo a{
        height: 111px;
    }

    /* menu - cart */

    nav.nav-bar .menu i, nav.nav-bar .cart i {
        font-size: 44px;
    }
    
    nav.nav-bar .menu h3, nav.nav-bar .cart h3 {
        font-size: 16px;
    }

    nav.nav-bar .menu ul {
        left: -1023px;
    }

    nav.nav-bar .menu ul.mostrar {
        left: 0px;
    }

    nav.nav-bar .cart .dropDown-cart {
        left: 1023px;
    }

    nav.nav-bar .cart .mostrar {
        left: 0px;
    }

    nav.nav-bar .cart .dropDown-cart .cartProducts {
        height: 350px;
        width: 600px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    nav.nav-bar .cart .dropDown-cart .cartProducts article .descripcion-cart h4 {
        width: 100%;
        text-align: center;
    }

}


/* desktop */

@media (min-width: 1024px) {

    header div, nav.nav-bar{
        display: none;
    }

    /* -- HEADER -- */

    header div.desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--rosa);
        padding: 0 10px;
        height: 38px;
        flex-direction: row;
    }

    /* envíos */

    header div.desktop .message {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-start;
        flex-direction: row;
    }

    header div.desktop .message .truck-icon{
        display: flex;
        width: 24px;
        padding: 0px;
    }

    header div.desktop .message img {
        width: 24px;
    }

    header div.desktop .message span {
        font-weight: bold;
    }

    header div.desktop .message p {
        text-align: left;
        font-size: 16px;
        padding-left: 5px;
    }

    /* user */

    header div.desktop .user {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        flex-direction: row;
    }

    header div.desktop .user .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }

    header div.desktop .user .user-icon i{
        font-size: 30px;
    }

    header div.desktop .user p {
        font-size: 16px;
        margin-left: 4px;
    }

    header div.desktop .user p a:hover {
        text-decoration: underline;
    }

    header div.desktop .user label {
        width: 145px;
        display: flex;
        cursor: pointer;
        padding-right: 3px;
        padding-left: 5px;
        justify-content: space-between;
    }
    
    header div.desktop .user ul {
        display: none;
    }

    header div.desktop .user input {
        display: none;
    }

    header div.desktop .user input:checked ~ ul {
        right: 10px;
        display: flex;
        background-color: var(--rosa);
        position: absolute;
        top: 40px;
        display: flex;
        flex-direction: column;
        z-index: 15;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        width: 165px;
        height: 75px;
    }

    header div.desktop .user ul:before {
        content: "";
        position: absolute;
        bottom: 74px;
        right: 8px;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 15px solid var(--rosa);
    }
    
    header div.desktop .user ul li {
        cursor: pointer;
    }

    header div.desktop .user ul li.logout button, header div.desktop .user ul li.logout i {
        color: red;
    }

    header div.desktop .user ul li:hover {
        text-decoration: underline;
    }


    /* -- NAV BAR -- */

    nav.nav-bar-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        height: 80px;
        background-color: white;
        box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
        z-index: 10;
    }

    nav.fixed {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* logo */

    nav.nav-bar-desktop .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80px;
    }

    nav.nav-bar-desktop a{
        height: 100%;
    }

    nav.nav-bar-desktop img {
        height: 100%;
    }

    /* inicio productos contacto administrar */

    nav.nav-bar-desktop .desktop-nav{
        width: 40%;
        display: flex;
    }

    nav.nav-bar-desktop .desktop-nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav.nav-bar-desktop .desktop-nav ul li a {
        font-size: 20px;
    }

    nav.nav-bar-desktop .desktop-nav ul li a h3:hover {
        color: var(--celeste);
        text-shadow: 1px 1px 2px black;
    }

    /* productos - administrar */

    nav.nav-bar-desktop .desktop-nav ul li.productos, .administrar {
        position: relative;
        display: flex;
        justify-content: center;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav {
        display: none;
        position: absolute;
        top: 23px;
        z-index: 5;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li{
        display: flex;
        border-bottom: solid 1px var(--rosa);
        width: 80%;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li a {
        width: 100%;
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 20px;
        width: 100%;
        cursor: pointer;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands img {
        position: absolute;
        width: 24px;
        right: 10px;
        height: 24px;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands .ul-brands {
        display: none;
        height: 338px;
        position: absolute;
        overflow: scroll;
        top: -299px;
        left: 200px;
        background-color: rgba(255, 255, 255, 0.6);
        width: 460px;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands .ul-brands::-webkit-scrollbar {
        width: 0 !important
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands:hover > .ul-brands {
        display: flex;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands .ul-brands:hover > .ul-brands {
        display: flex;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands .ul-brands ul {
        display: flex;
        padding: 10px;
        width: 100%;
        flex-wrap: wrap;
        height: 100%;
        background-color: transparent;
        flex-direction: row;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands .ul-brands ul li {
        width: 120px;
        background-color: var(--rosa);
        border: none;
        margin: 0px 5px;
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li.brands .ul-brands ul li a {
        font-size: 16px;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li span {
        color: var(--violeta);
    }

    nav.nav-bar-desktop .desktop-nav ul li.productos nav:hover {
        display: flex;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos a:hover ~ nav {
        display: flex;
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li:hover {
        background-color: var(--rosa);
    }
    
    nav.nav-bar-desktop .desktop-nav ul li.productos nav ul li a:hover {
        font-weight: bold;
    }

    /* busqueda */

    nav.nav-bar-desktop .search{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 265px;
        border: solid 2px var(--celeste);
        border-radius: 15px;
    }

    nav.nav-bar-desktop .search form {
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-evenly;
    }

    nav.nav-bar-desktop .search input {
        width: 210px;
        height: 24px;
        border: none;
        outline: none;
    }

    nav.nav-bar-desktop button{
        width: 26px;
        height: 26px;
        border: none;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;
    }
    nav.nav-bar-desktop .search .search-icon {
        display: flex;
    }

    nav.nav-bar-desktop button img {
        width: 20px;
    }


    /* carrito */

    nav.nav-bar-desktop .cart{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        position: relative;
        cursor: pointer;
    }

    nav.nav-bar-desktop .cart .quantity-cart-icon {
        display: flex;
        position: absolute;
        top: 10px;
        right: 8px;
        background-color: var(--celeste);
        border-radius: 100%;
        width: 22px;
        height: 22px;
        font-weight: bold;
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }

    nav.nav-bar-desktop .cart img {
        width: 35px;
    }
    
    nav.nav-bar-desktop .cart:hover {
        background-color: var(--rosa);
        border-radius: 100%;
    }

    nav.nav-bar-desktop .cart:hover > .dropDown-cart {
        display: flex;
    }

    nav.nav-bar-desktop .cart .dropDown-cart {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--blanco);
        width: 300px;
        height: 400px;
        border-radius: 10px;
        z-index: 5;
        top: 80px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
        right: 0px;
        align-items: center;
        justify-content: space-evenly;
        cursor: default;
    }

    nav.nav-bar-desktop .cart .dropDown-cart:before {
        content: "";
        position: absolute;
        right: 16px;
        top: -24px;
        width: 0;
        height: 0;
        border-right: 14px solid transparent;
        border-left: 14px solid transparent;
        border-bottom: 24px solid var(--blanco);
        filter: drop-shadow(0px -1px 1px rgba(0,0,0,.2));
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart h3 {
        display: flex;
        font-size: 24px;
        align-items: center;
        margin-top: 5px;
        justify-content: center;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts {
        height: 300px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts::-webkit-scrollbar {
        width: 0 !important
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article {
        display: flex;
        background-color: white;
        margin: 10px auto;
        padding: 5px;
        border-radius: 5px;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article img {
        width: 80px;
        height: 80px;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article a {
        height: auto;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article .tachito {
        width: 22px;
        height: 22px;
        cursor: pointer;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article .descripcion-cart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article .descripcion-cart h4 {
        font-size: 16px;
        font-weight: normal;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article .descripcion-cart .cantidad {
        display: flex;
        width: 100px;
        height: 24px;
        justify-content: center;
        align-items: center;
        border: solid 1px gray;
        flex-direction: row;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article .descripcion-cart .cantidad button {
        display: flex;
        width: 30px;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart .cartProducts section article .descripcion-cart .cantidad input {
        display: flex;
        width: 40px;
        text-align: center;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: none;
        border-left: solid 1px gray;
        border-right: solid 1px gray;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart h5 {
        display: flex;
        font-size: 20px;
        width: 100%;
        padding: 0px 15px;
        align-items: center;
        margin: 5px auto 0px;
        justify-content: space-between;
    }
    
    nav.nav-bar-desktop .cart .dropDown-cart a.goToCart {
        background-color: var(--lila);
        padding: 8px 30px;
        font-size: 22px;
        font-weight: bold;
        height: 45px;
        margin: 5px auto;
        border-radius: 10px;
    }

    nav.nav-bar-desktop .cart .dropDown-cart a.goToCart:hover {
        background-color: var(--violeta);
        color: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    }

}

