main.login {
    font-size: var(--tipografia);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    align-items: center;
}

main.login h1 {
    text-align: center;
    margin: 0 auto;
    font: italic bold 40px Georgia, Serif;
    text-shadow: -4px 3px 0 #dcc2ffff, -14px 7px 0 #11e7ee;
    padding-bottom: 40px;
    padding-top: 50px
}

main.login form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px 60px;
}

main.login .seccion {
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}

main.login .descripcion {
    padding: 10px;
    color:rgb(34, 23, 23);
    text-align: center;
    text-shadow: 2px 2px 2px #11e7ee;
}

main.login .completar {
    border-radius: 10px;
    border-color: #202020ff;
    background-color: lavender;
    padding: 8px 9px;
    text-align: center;
}

main.login p {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px #dcc2ffff
}

main.login .checkbox {
    position: relative;
    left: 2px;
}

main.login .recuerdame {
    color:rgb(34, 23, 23);
    text-shadow: 2px 2px 2px #dcc2ffff
}

main.login .boton-contenedor {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

main.login .boton {
    border-radius: 5px;   
    background-color: #dcc2ffff;
    padding: 10px;
    color: rgb(32, 32, 102);
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

main.login .boton:hover {
    background-color: #9ce8eb;
}

main.login button.disabled {
    background-color: gray;
    font-weight: lighter;
    color: white;
    border: gray 2px solid;
}

main.login button.disabled:hover {
    background-color: gray;
    font-weight: lighter;
    color: white;
    border: gray 2px solid;
    cursor: default;
}

main.login .error {
    border: #ff6060 2px solid !important;
}

main.login small, main.login .text-error {
    color: #ff6060 !important;
    text-shadow: none;
}



@media (min-width: 640px) {

    main.login h1 {
        font-size: 50px;
    }

    main.login .descripcion {
        font-size: 20px;
    }

    main.login .completar {
        padding: 9px 10px;
    }

    main.login .recuerdame {
        font-size: 20px;
    }

    main.login p {
        font-size: 20px;
    }

    main.login .boton {
        font-size: 20px;
    }

    main.login button.disabled {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
    }
    
    main.login button.disabled:hover {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
        cursor: default;
    }
    
    main.login .error {
        border: #ff6060 2px solid !important;
    }
    
    main.login small, main.login .text-error {
        color: #ff6060 !important;
    }
}





@media (min-width: 1024px) {

    main.login h1 {
        font-size: 50px;
    }

    main.login form {
        width: 600px;
    }

    main.login .descripcion {
        font-size: 20px;
    }

    main.login .completar {
        padding: 9px 10px;
    }

    main.login .recuerdame {
        font-size: 20px;
    }

    main.login p {
        font-size: 20px;
    }

    main.login .boton {
        font-size: 20px;
    }

    main.login button.disabled {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
    }
    
    main.login button.disabled:hover {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
        cursor: default;
    }
    
    main.login .error {
        border: #ff6060 2px solid !important;
    }
    
    main.login small, main.login .text-error {
        color: #ff6060 !important;
    }
}