main.registro {
    font-size: var(--tipografia);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    align-items: center;
}

main.registro h1 {
    text-align: center;
    margin: 0 auto;
    font: italic bold 40px Georgia, Serif;
    text-shadow: -4px 3px 0 #dcc2ffff, -14px 7px 0 #11e7ee;
    padding-bottom: 40px;
    padding-top: 50px
}

main.registro form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 250px;
}

main.registro .seccion {
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}

main.registro .seccion .pass {
    display: flex;
    position: relative;
    align-items: center;
}

main.registro .seccion .pass input{
    width: 100%;
}

main.registro .seccion .pass img {
    width: 24px;
    position: absolute;
    right: 6px;
    cursor: pointer;
}

main.registro .seccion input.image {
    display: none;
}

main.registro .seccion .labelImage {
    border-radius: 10px;
    border: 2px solid #202020;
    background-color: lavender;
    padding: 8px 9px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

main.registro .seccion .image-preview-container {
    width: 200px;
    height: 200px;
    margin: 5px auto 0px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2)
}

main.registro .seccion .image-preview-container .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main.registro .descripcion {
    padding: 10px 0px;
    color:rgb(34, 23, 23);
    text-shadow: 2px 2px 2px #11e7ee;
}

main.registro .completar {
    border-radius: 10px;
    border-color: #202020ff;
    background-color: lavender;
    padding: 8px 9px;
    text-align: center
}

main.registro .seccion p {
    padding-top: 45px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px #dcc2ffff;
}

main.registro .boton-contenedor {
    display: flex;
    justify-content: center;
    padding-bottom: 30px
}

main.registro .boton {
    border-radius: 5px;   
    background-color: #dcc2ffff;
    padding: 10px;
    color: rgb(32, 32, 102);
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

main.registro .boton:hover {
    background-color: #9ce8eb;
}

main.registro button.disabled {
    background-color: gray;
    font-weight: lighter;
    color: white;
    border: gray 2px solid;
}

main.registro button.disabled:hover {
    background-color: gray;
    font-weight: lighter;
    color: white;
    border: gray 2px solid;
    cursor: default;
}

main.registro .error {
    border: #ff6060 2px solid !important;
}

main.registro small, main.registro .text-error {
    color: #ff6060 !important;
    text-shadow: none;
}




@media (min-width: 640px) {

    main.registro form {
        width: 300px;
    }

    main.registro h1 {
        font-size: 50px;
    }

    main.registro .descripcion {
        font-size: 20px;
    }

    main.registro .completar {
        padding: 9px 10px;
    }

    main.registro p {
        font-size: 20px;
    }

    main.registro .boton {
        font-size: 20px;
    }

    main.registro button.disabled {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
    }
    
    main.registro button.disabled:hover {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
        cursor: default;
    }
    
    main.registro .error {
        border: #ff6060 2px solid !important;
    }
    
    main.registro small, main.registro .text-error {
        color: #ff6060 !important;
    }
}





@media (min-width: 1024px) {

    main.registro h1 {
        font-size: 50px;
    }

    main.registro form {
        width: 500px;
    }

    main.registro .descripcion {
        font-size: 20px;
    }

    main.registro .completar {
        padding: 9px 10px;
    }

    main.registro p {
        font-size: 20px;
    }

    main.registro .boton {
        font-size: 20px;
    }

    main.registro button.disabled {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
    }
    
    main.registro button.disabled:hover {
        background-color: gray;
        font-weight: lighter;
        color: white;
        border: gray 2px solid;
        cursor: default;
    }
    
    main.registro .error {
        border: #ff6060 2px solid !important;
    }
    
    main.registro small, main.registro .text-error {
        color: #ff6060 !important;
    }
}







