<header>

    <div>
        <input type="checkbox" name="" id="user" class="checkbox-user">
        <label for="user" class="user">
            <div class="user-icon"><i class="far fa-user-circle"></i></div>
        </label>

        <div class="user-checked">
            <p><a href="/users/registro">Crear una cuenta</a> | <a href="/users/login">Iniciar sesión</a></p>
        </div>

        <div class="message">
            <div class="truck-icon"><img src="/images/iconos/camion-negro.png" alt="Icono de camión"></div>
            <p><span>Envíos gratis</span> en compras mayores a $3.000.</p>
        </div>

        <input type="checkbox" name="" id="search" class="checkbox-search">
        <label for="search" class="search">
            <div class="search-icon"><i class="fas fa-search"></i></div>
        </label>

        <div class="search-checked">
            <form action="get">
                <input type="text" name="search" id="search" placeholder="Buscar">
                <button type="submit"><i class="fas fa-angle-double-right"></i></button>
            </form>
        </div>
    </div>

    <div class="desktop">
        <div class="message">
            <div class="truck-icon"><img src="/images/iconos/camion-negro.png" alt="Icono de camión"></div>
            <p><span>Envíos gratis</span> en compras mayores a $3.000.</p>
        </div>
        <div class="user">
            <div class="user-icon"><i class="far fa-user-circle"></i></div>
            <p><a href="/users/registro">Crear una cuenta</a> | <a href="/users/login">Iniciar sesión</a></p>
        </div>
    </div>

</header>