<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cfb266e133.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>

        <div>
            <div class="user">
                <div class="user-icon"><i class="far fa-user-circle"></i></div>
                <p><a href="/registro">Crear una cuenta</a> | <a href="/login">Iniciar sesión</a></p>
            </div>
            <div class="message">
                <p><i class="fas fa-truck"></i> <span>Envíos gratis</span> en compras mayores a $3.000.</p>
            </div>
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Buscar" class="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>

        <div class="desktop">
            <div class="message">
                <p><i class="fas fa-truck"></i> <span>Envíos gratis</span> en compras mayores a $3.000.</p>
            </div>
            <div class="user">
                <div class="user-icon"><i class="far fa-user-circle"></i></div>
                <p><a href="/registro">Crear una cuenta</a> | <a href="/login">Iniciar sesión</a></p>
            </div>
        </div>
        
    </header>


    <nav class="nav-bar">
        <nav class="menu">
            <i class="fas fa-bars"></i>
            <h3><a href="/productos">Productos</a></h3>
            <ul>
                <li><a href="">Alfajores</a></li>
                <li><a href="">Caramelos</a></li>
                <li><a href="">Chicles</a></li>
                <li><a href="">Chocolates</a></li>
                <li><a href="">Chupetines</a></li>
                <li><a href="">Confites</a></li>
                <li><a href="">Gomitas</a></li>
                <li><a href="">Marcas</a></li>
            </ul>
        </nav>
        <div class="logo">
            <a href="/"><img src="/images/logo-sorpresa-magica.png" alt="logo"></a>
        </div>
        <div class="cart">
            <i class="fas fa-shopping-cart"></i>
            <h3><a href="/carrito">Carrito</a></h3>
        </div>
    </nav>

    <nav class="nav-bar-desktop">
        <div class="logo">
            <a href="/"><img src="/images/logo-sorpresa-magica.png" alt="logo"></a>
        </div>
        <div class="desktop-nav">
            <ul>
                <li>
                    <h3><a href="/">Inicio</a></h3>
                </li>
                <li>
                    <h3><a href="/productos">Productos</a></h3>
                    <nav>
                        <ul>
                            <li><a href="">Alfajores</a></li>
                            <li><a href="">Caramelos</a></li>
                            <li><a href="">Chicles</a></li>
                            <li><a href="">Chocolates</a></li>
                            <li><a href="">Chupetines</a></li>
                            <li><a href="">Confites</a></li>
                            <li><a href="">Gomitas</a></li>
                            <li><a href="">Marcas</a></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <h3><a href="/contacto">Contacto</a></h3>
                </li>
            </ul>
        </div>
        <div class="search">
            <input type="text" name="search" id="search" placeholder="Buscar">
            <button type="submit"><div class="search-icon"><i class="fas fa-search"></i></div></button>
        </div>
        <div class="cart">
            <a href=""><i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>



   <main class="bodyCarrito">
        <div class="micompra">
     <i class="fas fa-shopping-cart"></i><h1>Mi Compra</h1>
     </div>

 <div class="productContainer">
    <div class="tabla">
     <div class="titulos">
      <div class="tituloscolor">
         <div class="producto">
         <h3>Producto</h3>
        </div>
        <div class="cantidad">
         <h3>Cantidad</h3>
        </div>
        <div class="precio">
         <h3>Precio</h3>
        </div>
        <div class="tachitotitulo">
            <i class="fas fa-trash"></i>
        </div>
    </div>
    
     </div>

     <div class="titulos">
         <div class="producto" >
            <img class="img" src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 14,04.png" alt="imagen alfajor">
        </div>
        <div class="cantidad">
            <button><</button>
            <p>1</p>
            <button>></button>
        </div>
        <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
        <div class="tachito">
            <i class="fas fa-trash"></i>
        </div>
        </div>


        <div class="titulos">
            <div class="producto" >
                <img class="img" src="/images/productos/Bombones BON O BON Chocolate Con Leche 18 U 422,26.png" alt="imagen alfajor">
           </div>
           <div class="cantidad">
               <button><</button>
            <p>1</p>
                <button>></button>
           </div>
           <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
           <div class="tachito">
            <i class="fas fa-trash"></i>
           </div>
           </div>

           <div class="titulos">
            <div class="producto" >
                <img class="img" src="/images/productos/Confites De Chocolate ROCKLETS 40 Gr 73,57.jpg" alt="imagen alfajor">
           </div>
           <div class="cantidad">
            <button><</button>
            <p>1</p>
            <button>></button>
           </div>
           <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
           <div class="tachito">
            <i class="fas fa-trash"></i>
           </div>
           </div>
</div>
           <div class="dosBotones">
            
    <button class="subButon">Vaciar carrito</button>
    <button class="subButon">Seguir comprando</button>
            </div>
    <div class="total">
        <h3>Total:</h3>
        <div class="resultado">1</div>
    
        <h3>Valor:</h3>
        <div class="resultado">
            <p>$</p>
            <p>123</p>
    </div>
</div>
            
    
            <div class="continuar">
    
                <button class="buton">CONTINUAR</button>
    
            </div>
</div>
    </main>
    <footer>
        <div class="top">
            <div class="rrss-contact">
                <div class="rrss">
                    <h3>Seguinos</h3>
                    <div class="rrss-icon">
                        <a href="https://www.instagram.com/sorpresa_magica_golosinas" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/sorpresa_magica_golosinas" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://www.twitter.com/sorpresa_magica_golosinas" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="contact">
                    <h3>Contactanos</h3>
                    <p><i class="fas fa-phone-alt"></i> 1234-5678</p>
                    <p><i class="far fa-envelope"></i> sorpresa-magica@outlook.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> San Benito de Palermo 565, CABA</p>
                </div>
            </div>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.4514133879015!2d-58.434576985177785!3d-34.56744276308578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5bc77430ee7%3A0xea9b07e9d0781f38!2sSan%20Benito%20de%20Palermo%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1629818682912!5m2!1ses-419!2sar"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright Sorpresa Mágica - 2021. Todos los derechos reservados.</p>
            <p>Defensa de las y los consumidores. Para reclamos ingrese <a href="">aquí</a>.</p>
        </div>
    </footer>



</body>
</html>