<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/b408874973.js" crossorigin="anonymous"></script>
    <title>Home - Sorpresa Mágica</title>
</head>

<body>

    <header>

        <div>
            <input type="checkbox" name="" id="user" class="checkbox-user">
            <label for="user" class="user">
                <div class="user-icon"><i class="far fa-user-circle"></i></div>
            </label>

            <div class="user-checked">
                <p><a href="/registro">Crear una cuenta</a> | <a href="/login">Iniciar sesión</a></p>
            </div>

            <div class="message">
                <div class="truck-icon"><img src="/images/iconos/camion-negro.png" alt="Icono de camión"></div>
                <p><span>Envíos gratis</span> en compras mayores a $3.000.</p>
            </div>

            <input type="checkbox" name="" id="search" class="checkbox-search">
            <label for="search" class="search">
                <div class="search-icon"><i class="fas fa-search"></i></div>
            </label>

            <div class="search-checked">
                <form action="get">
                    <input type="text" name="search" id="search" placeholder="Buscar">
                    <button type="submit"><i class="fas fa-angle-double-right"></i></button>
                </form>
            </div>
        </div>

        <div class="desktop">
            <div class="message">
                <div class="truck-icon"><img src="/images/iconos/camion-negro.png" alt="Icono de camión"></div>
                <p><span>Envíos gratis</span> en compras mayores a $3.000.</p>
            </div>
            <div class="user">
                <div class="user-icon"><i class="far fa-user-circle"></i></div>
                <p><a href="/registro">Crear una cuenta</a> | <a href="/login">Iniciar sesión</a></p>
            </div>
        </div>

    </header>

    <nav class="nav-bar">
        <nav class="menu">
            <input type="checkbox" name="" id="products">
            <label for="products">
                <img src="/images/iconos/menu-negro.png" alt="Icono de menú">
                <h3>Productos</h3>
            </label>
            <ul>
                <li><a href="/productos"><span>●</span> Todo <span>●</span></a></li>
                <li><a href="/productos/alfajores"><span>●</span> Alfajores <span>●</span></a></li>
                <li><a href="/productos/caramelos"><span>●</span> Caramelos <span>●</span></a></li>
                <li><a href="/productos/chicles"><span>●</span> Chicles <span>●</span></a></li>
                <li><a href="/productos/chocolates"><span>●</span> Chocolates <span>●</span></a></li>
                <li><a href="/productos/chupetines"><span>●</span> Chupetines <span>●</span></a></li>
                <li><a href="/productos/confites"><span>●</span> Confites <span>●</span></a></li>
                <li><a href="/productos/gomitas"><span>●</span> Gomitas <span>●</span></a></li>
                <li><a href="/productos/marcas"><span>●</span> Marcas <span>●</span></a></li>
            </ul>
        </nav>
        <div class="logo">
            <a href="/"><img src="/images/logo-sorpresa-magica.png" alt="logo"></a>
        </div>
        <div class="cart">
            <a href="/carritoDeCompras.html">
                <img src="/images/iconos/carrito-negro.png" alt="Icono de carrito">
                <h3>Carrito</h3>
            </a>
        </div>
    </nav>
    <nav class="nav-bar-desktop">
        <div class="logo">
            <a href="/"><img src="/images/logo-sorpresa-magica.png" alt="logo"></a>
        </div>
        <div class="desktop-nav">
            <ul>
                <li>
                    <a href="/">
                        <h3>Inicio</h3>
                    </a>
                </li>
                <li class="productos">
                    <a href="/productos">
                        <h3>Productos</h3>
                    </a>
                    <nav>
                        <ul>
                            <li><a href="/productos"><span>●</span> Todo <span>●</span></a></li>
                            <li><a href="/productos/alfajores"><span>●</span> Alfajores <span>●</span></a></li>
                            <li><a href="/productos/caramelos"><span>●</span> Caramelos <span>●</span></a></li>
                            <li><a href="/productos/chicles"><span>●</span> Chicles <span>●</span></a></li>
                            <li><a href="/productos/chocolates"><span>●</span> Chocolates <span>●</span></a></li>
                            <li><a href="/productos/chupetines"><span>●</span> Chupetines <span>●</span></a></li>
                            <li><a href="/productos/confites"><span>●</span> Confites <span>●</span></a></li>
                            <li><a href="/productos/gomitas"><span>●</span> Gomitas <span>●</span></a></li>
                            <li><a href="/productos/marcas"><span>●</span> Marcas <span>●</span></a></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <a href="/contacto">
                        <h3>Contacto</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="search">
            <form action="" method="get">
                <input type="text" name="search" id="search" placeholder="Buscar">
                <button type="submit">
                    <div class="search-icon"><i class="fas fa-search"></i></div>
                </button>
            </form>
        </div>
        <div class="cart">
            <a href="/carritoDeCompras.html"><img src="/images/iconos/carrito-negro.png" alt="Icono de carrito"></a>
        </div>
    </nav>

    <main class="home">




        <div class="slider">

            <ul class="mobile">
                <li> <img src="/images/banners/banner-mix-felfort.png" alt="Mix feltfort" class="slide1"> </li>
                <li> <img src="/images/banners/banner-edulzatusmm.png" alt="Endulzá tus mejores momentos"
                        class="slide2"> </li>
                <li> <img src="/images/banners/banner-bonobon.png" alt="Bon o bon mes de la dulzura" class="slide3">
                </li>
                <li> <img src="/images/banners/banner-golosinas.png" alt="Golosinas marcas" class="slide4"> </li>
            </ul>

            <ul class="tablet">
                <li> <img src="/images/banners/banner-mix-felfort-tablet.png" alt="Mix feltfort" class="slide1"> </li>
                <li> <img src="/images/banners/banner-edulzatusmm-tablet.png" alt="Endulzá tus mejores momentos"
                        class="slide2"> </li>
                <li> <img src="/images/banners/banner-bonobon-tablet.png" alt="Bon o bon mes de la dulzura"
                        class="slide3"> </li>
                <li> <img src="/images/banners/banner-golosinas-tablet.png" alt="Golosinas marcas" class="slide4"> </li>
            </ul>

            <ul class="desktop">
                <li> <img src="/images/banners/banner-mix-felfort-desktop.png" alt="Mix feltfort" class="slide1"> </li>
                <li> <img src="/images/banners/banner-edulzatusmm-desktop.png" alt="Endulzá tus mejores momentos"
                        class="slide2"> </li>
                <li> <img src="/images/banners/banner-bonobon-desktop.png" alt="Bon o bon mes de la dulzura"
                        class="slide3"> </li>
                <li> <img src="/images/banners/banner-golosinas-desktop.png" alt="Golosinas marcas" class="slide4">
                </li>
            </ul>

            <div class="buttons">
                <button class="left">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="right">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>

            <div class="dots">

                <input type="radio" name="slider" id="slide1" class="slide1" checked>
                <input type="radio" name="slider" id="slide2" class="slide2">
                <input type="radio" name="slider" id="slide3" class="slide3">
                <input type="radio" name="slider" id="slide4" class="slide4">

                <label for="slide1" class="slide1"></label>
                <label for="slide2" class="slide2"></label>
                <label for="slide3" class="slide3"></label>
                <label for="slide4" class="slide4"></label>

            </div>

        </div>

        <section class="especiales">

            <article class="ofertas">
                <a href="">
                    <div class="hasta">
                        <p>Hasta</p>
                        <h3>2x1</h3>
                    </div>
                    <img src="/images/dest1-ofertas-golosinas.png" alt="Ofertas">
                    <div>
                        <h3>Ofertas imperdibles</h3>
                    </div>
                </a>
            </article>
            <article class="nuevos">
                <a href="">
                    <img src="/images/dest2-nuevos-arcor.png" alt="Nuevos productos Arcor">
                    <div>
                        <h3>Nuevos productos</h3>
                    </div>
                </a>
            </article>
            <article class="cajas">
                <a href="">
                    <img src="/images/dest3-cajas-candy-box.png" alt="Cajas de golosinas para regalar">
                    <div>
                        <h3>Cajas para regalar</h3>
                    </div>
                </a>
            </article>

        </section>

        <section class="destacados">

            <div class="divisor">
                <hr>
                <h3>Destacados</h3>
                <hr>
            </div>

            <div class="productos">
                <article>
                    <a href="">
                        <img src="/images/productos/Chocolate CADBURY Yogur Frutilla 80 Gr 240,53.png"
                            alt="Chocolate CADBURY Yogur Frutilla 80 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Cadbury</h5>
                        </a>
                        <h3>Chocolate CADBURY Yogur Frutilla 80gr</h3>
                        <h2>$240,53</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Bombones BON O BON Chocolate Con Leche 18 U 422,26.png"
                            alt="Bombones BON O BON Chocolate Con Leche 18 unidades">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Bon O Bon</h5>
                        </a>
                        <h3>Bombones BON O BON Chocolate Con Leche 18u</h3>
                        <h2>$422,26</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Alfajor Triple TERRABUSI Torta 70 Gr 65,78.png"
                            alt="Alfajor Triple TERRABUSI Torta 70 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Terrabusi</h5>
                        </a>
                        <h3>Alfajor Triple TERRABUSI Torta 70gr</h3>
                        <h2>$65,78</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Caramelos Duros ARCOR Rodajas Frutales Acidas 930 Gr 883,87.png"
                            alt="Caramelos Duros ARCOR Rodajas Frutales Acidas 930 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Arcor</h5>
                        </a>
                        <h3>Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr</h3>
                        <h2>$883,87</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 14,04.png"
                            alt="Alfajor MILKA Triple Mousse 55 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Milka</h5>
                        </a>
                        <h3>Alfajor MILKA Triple Mousse 55gr</h3>
                        <h2>$74,04</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/BUTTER TOFFEES Bon O Bon 150 Gr 158,48.png"
                            alt="BUTTER TOFFEES Bon O Bon 150 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Butter Toffees</h5>
                        </a>
                        <h3>BUTTER TOFFEES Bon O Bon 150gr</h3>
                        <h2>$158,48</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Gomitas MOGUL Jelly Buttons 220 Gr 238,67.jpg"
                            alt="Gomitas MOGUL Jelly Buttons 220 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Mogul</h5>
                        </a>
                        <h3>Gomitas MOGUL Jelly Buttons 220gr</h3>
                        <h2>$238,67</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Confites De Chocolate ROCKLETS 40 Gr 73,57.jpg"
                            alt="Confites De Chocolate ROCKLETS 40 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Rocklets</h5>
                        </a>
                        <h3>Confites De Chocolate ROCKLETS 40gr</h3>
                        <h2>$73,57</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Caramelos HALLS Creamy Mora 27 Gr 53,21.jpg"
                            alt="Caramelos HALLS Creamy Mora 27 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Halls</h5>
                        </a>
                        <h3>Caramelos HALLS Creamy Mora 27gr</h3>
                        <h2>$53,21</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Chocolate MILKA Castañas 155 Gr 477,21.jpg"
                            alt="Chocolate MILKA Castañas 155 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Milka</h5>
                        </a>
                        <h3>Chocolate MILKA Castañas 155gr</h3>
                        <h2>$477,21</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Oblea NUGATON Blanco 27 Gr 63,63.jpg"
                            alt="Oblea NUGATON Blanco 27 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Nugaton</h5>
                        </a>
                        <h3>Oblea NUGATON Blanco 27gr</h3>
                        <h2>$63,63</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Gomitas MOGUL Frutillas Acidas 150 Gr 141,13.png"
                            alt="Gomitas MOGUL Frutillas Acidas 150 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Mogul</h5>
                        </a>
                        <h3>Gomitas MOGUL Frutillas Acidas 150gr</h3>
                        <h2>$141,13</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
            </div>

        </section>

        <section class="categorias">

            <div class="divisor">
                <hr>
                <h3>Categorías</h3>
                <hr>
            </div>

            <div class="slider">
                <ul>
                    <li>
                        <a href="">
                            <img src="/images/categorias/alfajores.jpg" alt="">
                            <div>
                                <h3>Alfajores</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/caramelos.png" alt="">
                            <div>
                                <h3>Caramelos</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chicles.jpg" alt="">
                            <div>
                                <h3>Chicles</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chocolates.jfif" alt="">
                            <div>
                                <h3>Chocolates</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chupetines.jfif" alt="">
                            <div>
                                <h3>Chupetines</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/confites.jpg" alt="">
                            <div>
                                <h3>Confites</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/gomitas.jfif" alt="">
                            <div>
                                <h3>Gomitas</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/alfajores.jpg" alt="">
                            <div>
                                <h3>Alfajores</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/caramelos.png" alt="">
                            <div>
                                <h3>Caramelos</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chicles.jpg" alt="">
                            <div>
                                <h3>Chicles</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chocolates.jfif" alt="">
                            <div>
                                <h3>Chocolates</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chupetines.jfif" alt="">
                            <div>
                                <h3>Chupetines</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/confites.jpg" alt="">
                            <div>
                                <h3>Confites</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/gomitas.jfif" alt="">
                            <div>
                                <h3>Gomitas</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </section>

    </main>

    <footer>
        <div class="top">
            <div class="rrss-contact">
                <div class="rrss">
                    <h3>Seguinos</h3>
                    <div class="rrss-icon">
                        <a href="https://www.instagram.com/sorpresa_magica_golosinas" target="_blank">
                            <img src="/images/iconos/zinstagram.png" alt="Icono de Instagram">
                        </a>
                        <a href="https://www.facebook.com/sorpresa_magica_golosinas" target="_blank">
                            <img src="/images/iconos/zfacebook.png" alt="Icono de Facebook">
                        </a>
                        <a href="https://www.twitter.com/sorpresa_magica_golosinas" target="_blank">
                            <img src="/images/iconos/ztwitter.png" alt="Icono de Twitter">
                        </a>
                    </div>
                </div>
                <div class="contact">
                    <h3>Contactanos</h3>
                    <p><img src="/images/iconos/telefono-negro.png" alt="Icono de teléfono"> 1234-5678</p>
                    <p><img src="/images/iconos/correo-negro.png" alt="Icono de correo"> sorpresa-magica@outlook.com</p>
                    <p><img src="/images/iconos/ubicacion-negro.png" alt="Icono de ubicación"> San Benito de Palermo 565, CABA</p>
                </div>
            </div>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.4514133879015!2d-58.434576985177785!3d-34.56744276308578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5bc77430ee7%3A0xea9b07e9d0781f38!2sSan%20Benito%20de%20Palermo%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1629818682912!5m2!1ses-419!2sar"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright Sorpresa Mágica - 2021. Todos los derechos reservados.</p>
            <p>Defensa de las y los consumidores. Para reclamos ingrese <a href="">aquí</a>.</p>
        </div>
    </footer>
</body>

</html>