<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    
    <title>Formulario Registro</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>Registro</h1>
        <form action="">
            <div class="seccion">
                <label class="descripcion" for="Nombre">Nombre:</label>
                <input class="completar" type="text" name="Nombre" id="Nombre">
            </div>
            <div class="seccion">
                <label class="descripcion" for="Apellido">Apellido:</label>
                <input class="completar" type="text" name="Apellido" id="Apellido">
            </div>
            <div class="seccion">
                <label class="descripcion" for="email">E-mail:</label>
                <input class="completar" type="email" name="email" id="email">
            </div>
            <div class="seccion">
                <label class="descripcion" for="contraseña">Contraseña:</label>
                <input class="completar" type="contraseña" name="contraseña" id="contraseña">
            </div>
            <div class="seccion">
                <label class="descripcion" for="repetir">Repetir Contraseña:</label>
                <input class="completar" type="repetir" name="repetir" id="repetir">
                <p>Al registrarse, estás de acuerdo con Términos y Condiciones.</p>
                <div class="boton-contenedor">
                    <button class="boton" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>