<footer>
    <div class="bottom">
        <p>Copyright Sorpresa Mágica - 2021. Todos los derechos reservados.</p>
        <p>Defensa de las y los consumidores. Para reclamos ingrese <a href="">aquí</a>.</p>
    </div>
</footer>