<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <main class="create">

        <h1>Crear un producto</h1>

        <form action="/admin/create" method="post" enctype="multipart/form-data">

          <div class="row g-2">

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Nombre del producto" name="title">
                  <label for="floatingInputGrid">Nombre del producto</label>
                </div>
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Marca" name="marca">
                  <label for="floatingInputGrid">Marca</label>
                </div>
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Precio" name="price">
                  <label for="floatingInputGrid">Precio</label>
                </div>
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Descuento" name="descuento">
                  <label for="floatingInputGrid">Descuento</label>
                </div>
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="categoria">
                    <option value="" selected hidden>Seleccioná una categoría</option>
                    <option value="Alfajores">Alfajores</option>
                    <option value="Caramelos">Caramelos</option>
                    <option value="Chicles">Chicles</option>
                    <option value="Chocolates">Chocolates</option>
                    <option value="Chupetines">Chupetines</option>
                    <option value="Confites">Confites</option>
                    <option value="Gomitas">Gomitas</option>
                  </select>
                  <label for="floatingSelectGrid">Categoría</label>
                </div>
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="destacado"> 
                    <option selected hidden>¿Es un producto destacado?</option>
                    <option value=true>Si</option>
                    <option value=false>No</option>
                  </select>
                  <label for="floatingSelectGrid">Destacado</label>
                </div>
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="mb-3">
                  <label for="formFile" class="form-label">Seleccione una imágen del producto</label>
                  <input class="form-control" type="file" id="formFile" name="image">
                </div>
              </div>

              <div class="col-md">
                <div class="button-crear">
                  <button type="submit" class="btn btn-outline-info">Crear</button>
                </div>
              </div>

            </div>

          </div>

        </form>

      </main>

      <%- include('./partials/footer') %>

  </body>

</html>