<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <main class="edit">

      </main>

      <%- include('./partials/footer') %>

  </body>

</html>