<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <main class="edit">

        <h1>Editar un producto</h1>

        <div class="row g-2">

          <div class="separador">

            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" value="Nombre del producto"
                  >
                <label for="floatingInputGrid">Nombre del producto</label>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" value="Marca"
                  >
                <label for="floatingInputGrid">Marca</label>
              </div>
            </div>

          </div>

          <div class="separador">

            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" value="Precio"
                  >
                <label for="floatingInputGrid">Precio</label>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected hidden>Seleccioná una categoría</option>
                  <option value="1">Alfajores</option>
                  <option value="2">Caramelos</option>
                  <option value="3">Chicles</option>
                  <option value="4">Chocolates</option>
                  <option value="5">Chupetines</option>
                  <option value="6">Confites</option>
                  <option value="7">Gomitas</option>
                </select>
                <label for="floatingSelectGrid">Categoría</label>
              </div>
            </div>

          </div>

          <div class="separador">

                <div class="mb-3 imagen-del-producto">
                  <img src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 74,04.png" alt="Alfajor">
                  <label for="formFile" class="form-label">Seleccione otra imágen del producto</label>
                  <input class="form-control" type="file" id="formFile">
                </div>
                <div class="button-crear">
              <button type="button" class="btn btn-outline-info">Editar</button>
                </div>

              </div>

        </div>

      </main>

      <%- include('./partials/footer') %>

  </body>

</html>