header nav{
    background-color: var(--rosa);
    box-shadow: 0px 2px 15px 0px rgba(32, 32, 32, .3);
}

.logo {
    width: 120px;
}

.btn-outline-success {
    color: var(--negro) !important;
    border-color: var(--negro) !important;
}

.btn-outline-success:hover {
    color: white !important;
    border-color: #cb91b6 !important;
    background-color: #cb91b6 !important;
}