<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Carrito' }) %>
<script src="/js/amount.js"></script>

    <body>

        <%- include('./partials/header') %>

            <main class="bodyCarrito">
                <h1>Mi Compra</h1>

                <section>
                    <article>
                        <img src="/images/productos/AlfajorMILKATripleMousse55Gr74,04.png" alt="Alfajor">
                        <div class="descripcion">
                            <h4>Alfajor MILKA Triple Mousse 55gr</h4>
                            <div class="cant-prec-elim">
                                <div class="cant-prec">
                                    <div class="cantidad">
                                        <button class="less">-</button>
                                        <input type="text" value="1">
                                        <button class="more">+</button>
                                    </div>
                                    <p>x $74,04</p>
                                </div>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                            <p class="descr">Alfajor Milka con relleno tipo mousse de chocolate con cobertura de chocolate con leche 55gr</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productos/CaramelosDurosARCORRodajasFrutalesAcidas930Gr883,87.png" alt="Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr">
                        <div class="descripcion">
                            <h4>Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr</h4>
                            <div class="cant-prec-elim">
                                <div class="cant-prec">
                                    <div class="cantidad">
                                        <button class="less">-</button>
                                        <input type="text" value="1">
                                        <button class="more">+</button>
                                    </div>
                                    <p>x $883.87</p>
                                </div>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                            <p class="descr">Caramelos duros Arcor rodajas frutales ácidas sabores surtidos 930gr</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productos/CaramelosHALLSCreamyMora27Gr53,21.jpg" alt="Caramelos HALLS Creamy Mora 27gr">
                        <div class="descripcion">
                            <h4>Caramelos HALLS Creamy Mora 27gr</h4>
                            <div class="cant-prec-elim">
                                <div class="cant-prec">
                                    <div class="cantidad">
                                        <button class="less">-</button>
                                        <input type="text" value="1">
                                        <button class="more">+</button>
                                    </div>
                                    <p>x $53.21</p>
                                </div>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                            <p class="descr">Caramelos duros Halls sabor a mora y crema 27gr</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productos/Chicles7UltraGreenTOPLINEEst24Gr109,99.jpg" alt="Chicles 7 Ultra Green TOPLINE 24gr">
                        <div class="descripcion">
                            <h4>Chicles 7 Ultra Green TOPLINE 24gr</h4>
                            <div class="cant-prec-elim">
                                <div class="cant-prec">
                                    <div class="cantidad">
                                        <button class="less">-</button>
                                        <input type="text" value="1">
                                        <button class="more">+</button>
                                    </div>
                                    <p>x $109.99</p>
                                </div>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                            <p class="descr">Chicles Topline dietéticos reducidos en calorías sabor menta 24gr</p>
                        </div>
                    </article>
                </section>

                <div class="total">
                    <h3>Cantidad:</h3>
                    <div class="resultado">4</div>

                    <h3>Total:</h3>
                    <div class="resultado">
                        <p>$</p>
                        <p>123</p>
                    </div>
                </div>

                <div class="buttons">
                    <div class="subButtons">
                        <button class="subButon">Vaciar carrito</button>
                        <button class="subButon">Seguir comprando</button>
                    </div>
                    <button class="buton">Finalizar compra</button>
                </div>

            </main>

            <%- include('./partials/footer') %>


    </body>

</html>