<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body>
    
    <%- include('./partials/header') %> 

    <%- include('./partials/nav') %> 



   <main class="bodyCarrito">
        <div class="micompra">
     <h1><i class="fas fa-shopping-cart"></i> Mi Compra</h1>
     </div>

 <div class="productContainer">
    <div class="tabla">
     <div class="titulos">
      <div class="tituloscolor">
         <div class="producto">
         <h3>Producto</h3>
        </div>
        <div class="descripcionCarrito">
         <h3>Descripcion</h3>
        </div>
        <div class="cantidad">
         <h3>Cantidad</h3>
        </div>
        <div class="precio">
         <h3>Precio</h3>
        </div>
        <div class="tachitotitulo">
            <i class="fas fa-trash"></i>
            
        </div>
    </div>
    
     </div>

     <div class="titulos">
         <div class="producto" >
            <img class="img" src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 74,04.png" alt="imagen alfajor">
        </div>
        <div class="descripcionCarrito">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, dolores culpa dolorem</p>
        </div>
        <div class="cantidad">
            <button><</button>
            <p>1</p>
            <button>></button>
        </div>
        <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
        <div class="tachito">
            <i class="fas fa-trash"></i>
        </div>
        </div>


        <div class="titulos">
            <div class="producto" >
                <img class="img" src="/images/productos/Bombones BON O BON Chocolate Con Leche 18 U 422,26.png" alt="imagen alfajor">
           </div>
           <div class="descripcionCarrito">
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, dolores culpa dolorem</p>
           </div>
           <div class="cantidad">
               <button><</button>
            <p>1</p>
                <button>></button>
           </div>
           <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
           <div class="tachito">
            <i class="fas fa-trash"></i>
           </div>
           </div>

           <div class="titulos">
            <div class="producto" >
                <img class="img" src="/images/productos/Confites De Chocolate ROCKLETS 40 Gr 73,57.jpg" alt="imagen alfajor">
           </div>
           <div class="descripcionCarrito">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, dolores culpa dolorem</p>
        </div>
           <div class="cantidad">
            <button><</button>
            <p>1</p>
            <button>></button>
           </div>
           <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
           <div class="tachito">
            <i class="fas fa-trash"></i>
           </div>
           </div>
</div>
           <div class="dosBotones">
            
    <button class="subButon">Vaciar carrito</button>
    <button class="subButon">Seguir comprando</button>
            </div>
    <div class="total">
        <h3>Total Productos:</h3>
        <div class="resultado">1</div>
    
        <h3>Valor:</h3>
        <div class="resultado">
            <p>$</p>
            <p>123</p>
    </div>
</div>
            
    
            <div class="continuar">
    
                <button class="buton">CONTINUAR</button>
    
            </div>
</div>
    </main>
    <footer>
        <div class="top">
            <div class="rrss-contact">
                <div class="rrss">
                    <h3>Seguinos</h3>
                    <div class="rrss-icon">
                        <a href="https://www.instagram.com/sorpresa_magica_golosinas" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/sorpresa_magica_golosinas" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://www.twitter.com/sorpresa_magica_golosinas" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="contact">
                    <h3>Contactanos</h3>
                    <p><i class="fas fa-phone-alt"></i> 1234-5678</p>
                    <p><i class="far fa-envelope"></i> sorpresa-magica@outlook.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> San Benito de Palermo 565, CABA</p>
                </div>
            </div>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.4514133879015!2d-58.434576985177785!3d-34.56744276308578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5bc77430ee7%3A0xea9b07e9d0781f38!2sSan%20Benito%20de%20Palermo%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1629818682912!5m2!1ses-419!2sar"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright Sorpresa Mágica - 2021. Todos los derechos reservados.</p>
            <p>Defensa de las y los consumidores. Para reclamos ingrese <a href="">aquí</a>.</p>
        </div>
    </footer>



</body>
</html>