<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {title: 'Carrito'}) %> 

<body>
    
    <%- include('./partials/header') %> 

    <main class="bodyCarrito">
        <div class="micompra">
     <h1><i class="fas fa-shopping-cart"></i> Mi Compra</h1>
     </div>

 <div class="productContainer">
    <div class="tabla">
     <div class="titulos">
      <div class="tituloscolor">
         <div class="producto">
         <h3>Producto</h3>
        </div>
        <div class="descripcionCarrito">
         <h3>Descripcion</h3>
        </div>
        <div class="cantidad">
         <h3>Cantidad</h3>
        </div>
        <div class="precio">
         <h3>Precio</h3>
        </div>
        <div class="tachitotitulo">
            <i class="fas fa-trash"></i>
            
        </div>
    </div>
    
     </div>

     <div class="titulos">
         <div class="producto" >
            <img class="img" src="/images/productos/AlfajorMILKATripleMousse55Gr74,04.png" alt="imagen alfajor">
        </div>
        <div class="descripcionCarrito">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, dolores culpa dolorem</p>
        </div>
        <div class="cantidad">
            <button><</button>
            <p>1</p>
            <button>></button>
        </div>
        <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
        <div class="tachito">
            <i class="fas fa-trash"></i>
        </div>
        </div>


        <div class="titulos">
            <div class="producto" >
                <img class="img" src="/images/productos/BombonesBONOBONChocolateConLeche18U422,26.png" alt="imagen alfajor">
           </div>
           <div class="descripcionCarrito">
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, dolores culpa dolorem</p>
           </div>
           <div class="cantidad">
               <button><</button>
            <p>1</p>
                <button>></button>
           </div>
           <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
           <div class="tachito">
            <i class="fas fa-trash"></i>
           </div>
           </div>

           <div class="titulos">
            <div class="producto" >
                <img class="img" src="/images/productos/ConfitesDeChocolateROCKLETS40Gr73,57.jpg" alt="imagen alfajor">
           </div>
           <div class="descripcionCarrito">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, dolores culpa dolorem</p>
        </div>
           <div class="cantidad">
            <button><</button>
            <p>1</p>
            <button>></button>
           </div>
           <div class="precio">
            <p>$</p>
            <p>123</p>
           </div>
           <div class="tachito">
            <i class="fas fa-trash"></i>
           </div>
           </div>
</div>
           <div class="dosBotones">
            
    <button class="subButon">Vaciar carrito</button>
    <button class="subButon">Seguir comprando</button>
            </div>
    <div class="total">
        <h3>Total Productos:</h3>
        <div class="resultado">1</div>
    
        <h3>Valor:</h3>
        <div class="resultado">
            <p>$</p>
            <p>123</p>
    </div>
</div>
            
    
            <div class="continuar">
    
                <button class="buton">CONTINUAR</button>
    
            </div>
</div>
    </main>
   
    <%- include('./partials/footer') %>


</body>
</html>