<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Contacto'}) %> 
<body>
    <%- include('./partials/header') %> 

    <main class="contacto">

        <h1>¡Contactanos!</h1> 
        
    <div class="container">
        <div class="target">
            <a href="https://www.instagram.com/sorpresa_magica_golosinas" target="_blank">
                <img src="/images/iconos/zinstagram.png" alt="Icono de Instagram">
            </a>
            <a href="https://www.facebook.com/sorpresa_magica_golosinas" target="_blank">
                <img src="/images/iconos/zfacebook.png" alt="Icono de Facebook">
            </a>
            <a href="https://www.twitter.com/sorpresa_magica_golosinas" target="_blank">
                <img src="/images/iconos/ztwitter.png" alt="Icono de Twitter">
            </a>
        </div>
    </div>

    </main>  

</body>
</html>