<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>

    <%- include('./partials/header') %> 

    <%- include('./partials/nav') %>

    <main class="home">

        <div class="slider">

            <ul class="mobile">
                <li> <img src="/images/banners/banner-mix-felfort.png" alt="Mix feltfort" class="slide1"> </li>
                <li> <img src="/images/banners/banner-edulzatusmm.png" alt="Endulzá tus mejores momentos"
                        class="slide2"> </li>
                <li> <img src="/images/banners/banner-bonobon.png" alt="Bon o bon mes de la dulzura" class="slide3">
                </li>
                <li> <img src="/images/banners/banner-golosinas.png" alt="Golosinas marcas" class="slide4"> </li>
            </ul>

            <ul class="tablet">
                <li> <img src="/images/banners/banner-mix-felfort-tablet.png" alt="Mix feltfort" class="slide1"> </li>
                <li> <img src="/images/banners/banner-edulzatusmm-tablet.png" alt="Endulzá tus mejores momentos"
                        class="slide2"> </li>
                <li> <img src="/images/banners/banner-bonobon-tablet.png" alt="Bon o bon mes de la dulzura"
                        class="slide3"> </li>
                <li> <img src="/images/banners/banner-golosinas-tablet.png" alt="Golosinas marcas" class="slide4"> </li>
            </ul>

            <ul class="desktop">
                <li> <img src="/images/banners/banner-mix-felfort-desktop.png" alt="Mix feltfort" class="slide1"> </li>
                <li> <img src="/images/banners/banner-edulzatusmm-desktop.png" alt="Endulzá tus mejores momentos"
                        class="slide2"> </li>
                <li> <img src="/images/banners/banner-bonobon-desktop.png" alt="Bon o bon mes de la dulzura"
                        class="slide3"> </li>
                <li> <img src="/images/banners/banner-golosinas-desktop.png" alt="Golosinas marcas" class="slide4">
                </li>
            </ul>

            <div class="buttons">
                <button class="left">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="right">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>

            <div class="dots">

                <input type="radio" name="slider" id="slide1" class="slide1" checked>
                <input type="radio" name="slider" id="slide2" class="slide2">
                <input type="radio" name="slider" id="slide3" class="slide3">
                <input type="radio" name="slider" id="slide4" class="slide4">

                <label for="slide1" class="slide1"></label>
                <label for="slide2" class="slide2"></label>
                <label for="slide3" class="slide3"></label>
                <label for="slide4" class="slide4"></label>

            </div>

        </div>

        <section class="especiales">

            <article class="ofertas">
                <a href="">
                    <div class="hasta">
                        <p>Hasta</p>
                        <h3>2x1</h3>
                    </div>
                    <img src="/images/dest1-ofertas-golosinas.png" alt="Ofertas">
                    <div>
                        <h3>Ofertas imperdibles</h3>
                    </div>
                </a>
            </article>
            <article class="nuevos">
                <a href="">
                    <img src="/images/dest2-nuevos-arcor.png" alt="Nuevos productos Arcor">
                    <div>
                        <h3>Nuevos productos</h3>
                    </div>
                </a>
            </article>
            <article class="cajas">
                <a href="">
                    <img src="/images/dest3-cajas-candy-box.png" alt="Cajas de golosinas para regalar">
                    <div>
                        <h3>Cajas para regalar</h3>
                    </div>
                </a>
            </article>

        </section>

        <section class="destacados">

            <div class="divisor">
                <hr>
                <h3>Destacados</h3>
                <hr>
            </div>

            <div class="productos">
                <article>
                    <a href="">
                        <img src="/images/productos/Chocolate CADBURY Yogur Frutilla 80 Gr 240,53.png"
                            alt="Chocolate CADBURY Yogur Frutilla 80 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Cadbury</h5>
                        </a>
                        <h3>Chocolate CADBURY Yogur Frutilla 80gr</h3>
                        <h2>$240,53</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Bombones BON O BON Chocolate Con Leche 18 U 422,26.png"
                            alt="Bombones BON O BON Chocolate Con Leche 18 unidades">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Bon O Bon</h5>
                        </a>
                        <h3>Bombones BON O BON Chocolate Con Leche 18u</h3>
                        <h2>$422,26</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Alfajor Triple TERRABUSI Torta 70 Gr 65,78.png"
                            alt="Alfajor Triple TERRABUSI Torta 70 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Terrabusi</h5>
                        </a>
                        <h3>Alfajor Triple TERRABUSI Torta 70gr</h3>
                        <h2>$65,78</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Caramelos Duros ARCOR Rodajas Frutales Acidas 930 Gr 883,87.png"
                            alt="Caramelos Duros ARCOR Rodajas Frutales Acidas 930 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Arcor</h5>
                        </a>
                        <h3>Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr</h3>
                        <h2>$883,87</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 14,04.png"
                            alt="Alfajor MILKA Triple Mousse 55 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Milka</h5>
                        </a>
                        <h3>Alfajor MILKA Triple Mousse 55gr</h3>
                        <h2>$74,04</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/BUTTER TOFFEES Bon O Bon 150 Gr 158,48.png"
                            alt="BUTTER TOFFEES Bon O Bon 150 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Butter Toffees</h5>
                        </a>
                        <h3>BUTTER TOFFEES Bon O Bon 150gr</h3>
                        <h2>$158,48</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Gomitas MOGUL Jelly Buttons 220 Gr 238,67.jpg"
                            alt="Gomitas MOGUL Jelly Buttons 220 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Mogul</h5>
                        </a>
                        <h3>Gomitas MOGUL Jelly Buttons 220gr</h3>
                        <h2>$238,67</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Confites De Chocolate ROCKLETS 40 Gr 73,57.jpg"
                            alt="Confites De Chocolate ROCKLETS 40 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Rocklets</h5>
                        </a>
                        <h3>Confites De Chocolate ROCKLETS 40gr</h3>
                        <h2>$73,57</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Caramelos HALLS Creamy Mora 27 Gr 53,21.jpg"
                            alt="Caramelos HALLS Creamy Mora 27 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Halls</h5>
                        </a>
                        <h3>Caramelos HALLS Creamy Mora 27gr</h3>
                        <h2>$53,21</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Chocolate MILKA Castañas 155 Gr 477,21.jpg"
                            alt="Chocolate MILKA Castañas 155 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Milka</h5>
                        </a>
                        <h3>Chocolate MILKA Castañas 155gr</h3>
                        <h2>$477,21</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Oblea NUGATON Blanco 27 Gr 63,63.jpg"
                            alt="Oblea NUGATON Blanco 27 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Nugaton</h5>
                        </a>
                        <h3>Oblea NUGATON Blanco 27gr</h3>
                        <h2>$63,63</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <a href="">
                        <img src="/images/productos/Gomitas MOGUL Frutillas Acidas 150 Gr 141,13.png"
                            alt="Gomitas MOGUL Frutillas Acidas 150 gramos">
                    </a>
                    <div class="descripcion">
                        <a href="">
                            <h5>Mogul</h5>
                        </a>
                        <h3>Gomitas MOGUL Frutillas Acidas 150gr</h3>
                        <h2>$141,13</h2>
                        <div class="cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="comprar">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                </article>
            </div>

        </section>

        <section class="categorias">

            <div class="divisor">
                <hr>
                <h3>Categorías</h3>
                <hr>
            </div>

            <div class="slider">
                <ul>
                    <li>
                        <a href="">
                            <img src="/images/categorias/alfajores.jpg" alt="">
                            <div>
                                <h3>Alfajores</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/caramelos.png" alt="">
                            <div>
                                <h3>Caramelos</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chicles.jpg" alt="">
                            <div>
                                <h3>Chicles</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chocolates.jfif" alt="">
                            <div>
                                <h3>Chocolates</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chupetines.jfif" alt="">
                            <div>
                                <h3>Chupetines</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/confites.jpg" alt="">
                            <div>
                                <h3>Confites</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/gomitas.jfif" alt="">
                            <div>
                                <h3>Gomitas</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/alfajores.jpg" alt="">
                            <div>
                                <h3>Alfajores</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/caramelos.png" alt="">
                            <div>
                                <h3>Caramelos</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chicles.jpg" alt="">
                            <div>
                                <h3>Chicles</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chocolates.jfif" alt="">
                            <div>
                                <h3>Chocolates</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/chupetines.jfif" alt="">
                            <div>
                                <h3>Chupetines</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/confites.jpg" alt="">
                            <div>
                                <h3>Confites</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/categorias/gomitas.jfif" alt="">
                            <div>
                                <h3>Gomitas</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </section>

    </main>

    <%- include('./partials/footer') %> 

</body>

</html>