<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Tu perfil' }) %>

    <body>

        <%- include('./partials/header') %>

        <%- include('./partials/nav') %>

        <main class="user-profile">

            <h1>tu perfil</h1>
            
        </main>

        <%- include('./partials/footer') %>

    </body>

</html>